{% extends "base_public.html" %}
{% block title %}Contáctenos{% endblock %}

{% block content %}
<div class="section-container">
  <h2>Contáctenos</h2>

  <div class="card-contacto">
    <p>{{ contenido.contenido if contenido else "Contenido no disponible" }}</p>

    {% if contenido.imagen_url %}
      <div class="imagen-contacto">
        <img src="{{ contenido.imagen_url }}" alt="Imagen de contacto" />
      </div>
    {% endif %}
  </div>

</div>
{% endblock %}

{% block extra_css %}
{% include "partials/estilo_seccion.html" %}
{% endblock %}